@import "../../stellar-security-app/stellar-security/stellar-security.component.css";
.steller-notes-bg {
  background-color: #f6f6fd;
  background-image: url(../../../../assets/img/gray-arc.png);
  background-size: contain;
}
.steller-notes-bg h3 {
    color: #0B0C19;
}
.steller-notes-bg p {
  color: #0B0C19;
}
.stelle-notes-title h3{
    width: 40%;
}
.stelle-notes-title p{
    width: 44%;
}
.steller-card-title h5{
    margin-top: 8px;
}
.steller-card p{
    width: 70%;
}
.promo-card{
    max-width: 88%;
}